# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env.*
.env

# =========================
# FastAPI / Backend
# =========================
*.sqlite3
*.db
logs/
.cache/

# =========================
# Node / React (Vite)
# =========================
node_modules/
dist/
build/

# Vite
.vite/

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/
*.swp

# =========================
# Misc
# =========================
coverage/
*.log
